---
import { render } from "astro:content";
import Layout from "../../../../layouts/Layout.astro";
import Sidebar from "../../../../components/Sidebar.astro";
import { getMeta } from "../../../../lib/cms/core";
import { getGroupEntries, generateAllSlugRoutes } from "../../../../lib/cms/query";

const { root, group, slug } = Astro.params;

export async function getStaticPaths() {
  return await generateAllSlugRoutes('root', 'group');
}

const { entry } = Astro.props;
const meta = getMeta(entry);
const projectEntries = await getGroupEntries(root as string, meta.group);
const { Content } = await render(entry);
---

<Layout 
  title={entry.data.title} 
  projects={projectEntries} 
  currentSlug={meta.slug ?? slug}
>
  <Fragment slot="sidebar">
    <Sidebar
      root={root}
      group={group}
      currentSlug={meta.slug ?? slug}
      projects={projectEntries}
    />
  </Fragment>

  <h1>{entry.data.title}</h1>
  <Content />
</Layout>

<style>
  :global(.markdown p) {
    font-size: 1.2rem;
  }
</style>