---
import { render } from 'astro:content';
import Layout from '../../../layouts/Layout.astro';
import Sidebar from '../../../components/Sidebar.astro';
import { getMeta } from '../../../lib/cms/core';
import { getGroupEntries, generateSlugRoutes } from '../../../lib/cms/query';

export async function getStaticPaths() {
  return await generateSlugRoutes('note', 'note');
}

const { entry } = Astro.props;
const meta = getMeta(entry);
const noteEntries = await getGroupEntries('note', meta.group);
const { Content } = await render(entry);
---

<Layout
  title={entry.data.title}
  projects={noteEntries}
  currentSlug={meta.slug}
>
  <Fragment slot="sidebar">
    <Sidebar
      root="note"
      group={meta.group}
      projects={noteEntries}
      currentSlug={meta.slug}
    />
  </Fragment>

  <h1>{entry.data.title}</h1>
  <Content />
</Layout>